<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification des paramètres</title>
<body>
    <h1>Réglages</h1>
    <form action="/update" method="post">
        <label for="temp_threshold">Seuil de température :</label>
        <input type="number" name="temp_threshold" id="temp_threshold" value="{{ settings[0] }}" required><br><br>

        <label for="humidity_threshold">Seuil d'humidité :</label>
        <input type="number" name="humidity_threshold" id="humidity_threshold" value="{{ settings[1] }}" required><br><br>

        <label for="scan_frequency">Fréquence de scrutation :</label>
        <input type="number" name="scan_frequency" id="scan_frequency" value="{{ settings[2] }}" required><br><br>

        <label for="recipients">Destinataires des e-mails :</label>
        <input type="text" name="recipients" id="recipients" value="{{ settings[3] }}" required><br><br>

        <input type="submit" value="Modifier">
    </form>
</body>
</html>
