<!DOCTYPE html>
<html>
<head>
    <title>Graph Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
        function fetchData() {
            $.ajax({
                url: '/graph_data',
                type: 'GET',
                success: function(data) {
                    updateChartData(data.demo1, 0); // pour DEMO1
                    updateChartData(data.demo2, 1); // pour DEMO2
                    updateChartData(data.demo3, 2); // pour DEMO3
                }
            });
        }
    
        function updateChartData(data, datasetIndex) {
            myChart.data.labels = data.map(item => new Date(item[0]).toLocaleTimeString());
            myChart.data.datasets[datasetIndex].data = data.map(item => item[1]);
            myChart.update();
        }
    
        setInterval(fetchData, 5000);
    </script>

</body>
</html>

