<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Données MySQL</title>
</head>
<body>
    <h1>Température extérieur</h1>
    <p>Température en °C : {{ tempext }}°C</p>
    <h1>Données de la table DEMO1</h1>
    <ul>
        {% for row in data_demo1 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>

    <h1>Données de la table DEMO2</h1>
    <ul>
        {% for row in data_demo2 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>

    <h1>Données de la table DEMO3</h1>
    <ul>
        {% for row in data_demo3 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>
   <h1>Change Sensor Names</h1>
    <form action="/update_Sensor" method="post">
        <label for="DEMO1">DEMO1:</label>
        <input type="text" id="DEMO1" name="DEMO1" required><br><br>
        <label for="DEMO2">DEMO2:</label>
        <input type="text" id="DEMO2" name="DEMO2" required><br><br>
        <label for="DEMO3">DEMO3:</label>
        <input type="text" id="DEMO3" name="DEMO3" required><br><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>
