<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Données MySQL</title>
</head>
<body>
    <header class="header">
        <nav>
            <a href="change_name.html">Name</a>
            <a href="change_Seuil">Seuil</a>
        </nav>
    </header>
    <h1>Température extérieur</h1>
    <p>Température en °C : {{ tempext }}°C</p>
    <h1>Données de la table DEMO1</h1>
    <ul>
        {% for row in data_demo1 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>

    <h1>Données de la table DEMO2</h1>
    <ul>
        {% for row in data_demo2 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>

    <h1>Données de la table DEMO3</h1>
    <ul>
        {% for row in data_demo3 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>
</body>
</html>
