<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Données MySQL</title>
</head>
<body>
    <h1>Température extérieur</h1>
    <p>Température en °C : {{ tempext }}°C</p>
    <h1>Données de la table DEMO1</h1>
    <ul>
        {% for row in data_demo1 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>

    <h1>Données de la table DEMO2</h1>
    <ul>
        {% for row in data_demo2 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>

    <h1>Données de la table DEMO3</h1>
    <ul>
        {% for row in data_demo3 %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>
    <h1>Liste des capteurs</h1>
    <form action="/update" method="post">
        {% for sensor in sensors %}
            <label for="{{ sensor.device_addr }}">Nom du capteur {{ loop.index }} :</label>
            <input type="text" id="{{ sensor.device_addr }}" name="sensor_name" value="{{ sensor.sensor_name }}"><br>
        {% endfor %}
        <button type="submit">Mettre à jour</button>
    </form>

    <h2>Données des capteurs</h2>
    <p>DEMO1: {{ data_demo1 }}</p>
    <p>DEMO2: {{ data_demo2 }}</p>
    <p>DEMO3: {{ data_demo3 }}</p>

    </form>
</body>
</html>
